@font-face {
    font-family: 'broadway';
    src: url('../fonts/broadway/broadway3d-italic-webfont.woff2') format('woff2'),
         url('../fonts/broadway/broadway3d-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fade-in-fast {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-in-slow {
    animation: fadeInSlow ease 2s;
    -webkit-animation: fadeInSlow ease 2s;
    -moz-animation: fadeInSlow ease 2s;
    -o-animation: fadeInSlow ease 2s;
    -ms-animation: fadeInSlow ease 2s;
}

.drop-down {
    animation: slideDown ease 1s;
    -webkit-animation: slideDown ease 1s;
    -moz-animation: slideDown ease 1s;
    -o-animation: slideDown ease 1s;
    -ms-animation: slideDown ease 1s;
}
  
@keyframes slideDown {
    0% {
        margin-top: -400px;
    }
    100% {
        margin-top: 20vh;
    }
}
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }  

  @keyframes fadeInSlow{
    0% {
        opacity: 0;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeInSlow {
    0% {
        opacity: 0;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }  

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'sans-serif', 'Helvetica';
}

#title {
    margin-top: 20vh;
    color: #0069ed;
    font-style: italic;
    font-family: 'broadway';
    font-size: 9vw;
}
@media (min-width: 900px) {
    #title {
       font-size: 75px;
    }
  }

h3 {
    color: lightgrey;
    margin-bottom: 100px;
    font-style: italic;
}

.container {
    margin-bottom: 100px;
}

button, #join {
    margin-bottom: 50px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
button:hover {
    background: #2280f3;
}

button {
    padding: 1rem 2rem;
    border: 2px solid #2280f3;
    background: #0069ed;
    color: #ffffff;
}

#join {
    padding: 0.5rem 1rem;
    border: 2px solid #ffc420;
    background: #ff9900;
    color: #ffffff;
}
#join:hover {
    background: #ffc420;
}

p {
    margin-bottom: 25px;
    color: grey;
    font-size: 15px;
}

input {
    margin-bottom: 15px;
    font-size: 20px;
}

#roomNum {
    border: None;
    border-bottom: 1px solid grey;
}

