body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'sans-serif', 'Helvetica';
}

#title {
    color: mediumblue;
    font-style: italic;
}

h3 {
    color: lightgrey;
    margin-bottom: 100px;
}

button, #join {
    margin-bottom: 50px;
    display: inline-block;
    border: 2px solid #2280f3;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
button:hover, #join:hover {
    background: #2280f3;
}

button {
    padding: 1rem 2rem;
}

#join {
    padding: 0.5rem 1rem;
}

p {
    color: grey;
    font-size: 15px;
}