/* centered columns styles */
body {
    height: 100% !important;
    background-color: #88BEE8FF !important;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    width: 50%;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-right:-4px;
    text-align: center !important;
    background-color: #b19cd9;
}

.col-border {
  border-style: solid;
  border-color: #4B0082;
  border-top: none;
  box-shadow: 0 0 10px 5px #4B0082;
}

.fill {
    min-height: 100%;
    height: auto !important;
    height: 100%; 
}

.foot{
    text-align: left;
}

.pic {
    height: 50%;
    width: 50%;
    opacity: 1.0;
    margin-top:10%;
}

#aura{
  width: 40vh;
  height: 40vh;
  margin-left:auto;
  margin-right:auto;
  border-radius: 100%;
  background: radial-gradient(#ffffff, transparent);
  animation-name: pulse;
  animation-duration: .25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.pic_border {
    margin-top: 100px; 
    background-color: #88BEE8FF;
}

.speech {
  border: 1px solid #DDD; 
  width: 300px; 
  padding: 0; 
  margin: 0;
}

.speech input {
  border: 0; 
  width: 240px; 
  display: inline-block; 
  height: 30px;
}
.speech img {
  float: right; 
  width: 40px;
}

.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}

@keyframes pulse{
  0%{
    background: radial-gradient(#ffffff 10%, transparent);
  }
  50%{
    background: radial-gradient(#ffffff 20%, transparent);
  }
  100%{
    background: radial-gradient(#ffffff 30%, transparent);
  }
}

@keyframes dots {
  0%, 20% {
    color: #4B0082;
    text-shadow:
      .25em 0 0 #4B0082,
      .5em 0 0 #4B0082;}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 #4B0082,
      .5em 0 0 #4B0082;}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 #4B0082;}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}
}
