body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'sans-serif', 'Helvetica';
}

.container1 {
    margin: 15vh 0 7vh 0;
}

.container2 {
    margin: 0 50px 7vh 50px;
    padding: 8vh 0 8vh 0;
    border: 2px dotted rgb(121, 168, 190);
    border-radius: 10px;
    background-color: rgb(205, 226, 240);
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    background-color: grey;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    color: white;
    
    padding: 5px 10px;
}

.btn:hover {
    background-color: rgb(163, 163, 163);
}

h2 {
    color: #ff9900;
}

#code {
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #ff9900;
    color: white;
    font-size: 20px;
    width: max-content;
}

#joining {
    display: block;
    /* display: none; */
}

#playing {
    display: none;
    /* display: block; */
}

#waiting {
    display: block;
}

#singing {
    display: none;
}