:root {
  --key-color: #e6e6e6; 
}

@font-face {
    font-family: 'broadway';
    src: url('../fonts/broadway/broadway3d-italic-webfont.woff2') format('woff2'),
         url('../fonts/broadway/broadway3d-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fade-in-fast {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-in-slow {
    animation: fadeInSlow ease 2s;
    -webkit-animation: fadeInSlow ease 2s;
    -moz-animation: fadeInSlow ease 2s;
    -o-animation: fadeInSlow ease 2s;
    -ms-animation: fadeInSlow ease 2s;
}

.drop-down {
    animation: slideDown ease 1s;
    -webkit-animation: slideDown ease 1s;
    -moz-animation: slideDown ease 1s;
    -o-animation: slideDown ease 1s;
    -ms-animation: slideDown ease 1s;
}

@keyframes slideDown {
    0% {
        margin-top: -400px;
    }
    100% {
        margin-top: 15vh;
    }
}

  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes fadeInSlow{
    0% {
        opacity: 0;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeInSlow {
    0% {
        opacity: 0;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif', 'Helvetica';
}

#client-body {
    height: 100% !important;
    background-color: #c4c4c4 !important;
}

#title {
    margin-top: 15vh;
    color: #0069ed;
    font-style: italic;
    font-family: 'broadway';
    font-size: 9vw;
}
@media (min-width: 900px) {
    #title {
       font-size: 75px;
    }
  }

h3 {
    color: lightgrey;
    margin-bottom: 50px;
    font-style: italic;
}

.container {
    margin-bottom: 75px;
}

#start, #join {
    margin-bottom: 50px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
#start:hover {
    background: #3099fc;
}

#start {
    padding: 1rem 2rem;
    border: 2px solid #3099fc;
    background: #0069ed;
    color: #ffffff;
}

#join {
    padding: 0.5rem 1rem;
    border: 2px solid #ffc420;
    background: #ff9900;
    color: #ffffff;
}
#join:hover {
    background: #ffc420;
}

/*
p {
    margin-bottom: 25px;
    color: grey;
    font-size: 15px;
}
*/

hr {
  margin: 25px 25px  25px 25px;
  margin-left:auto;
  margin-right: auto;
  max-width: 800px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #ff9900;
  border-radius: 20px;
  color: #ff9900;
  background-color: transparent;
}

input::placeholder {
  color: #ffbc58;
  text-align: center;
}

input:focus {
  outline: none;
}

@media (max-width: 800px) {
  #title {
    font-size: 70px;
  }

  h3 {
    font-size: 14px;
  }

  #start {
    padding: 0.7rem 1rem;
  }

  #start, #join {
    font-size: 15px;
  }

  input {
    padding: 7px;
    font-size: 16px;
  }
}

.container1 {
  margin: 15vh 0 7vh 0;
}

.container2 {
  margin: 0 50px 7vh 50px;
  padding: 8vh 0 8vh 0;
  border: 2px dotted rgb(121, 168, 190);
  border-radius: 10px;
}

h2 {
  color: #ff9900;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  border: 2px solid rgb(163, 163, 163);
  border-radius: 5px;
  background-color: grey;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: white;
  
  padding: 5px 10px;
}

.btn:hover {
  background-color: rgb(163, 163, 163);
}

#code {
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #ff9900;
  color: white;
  font-size: 20px;
  width: max-content;
}

#nameGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px;
  margin-bottom: 50px;
  font-weight: bold;
  text-transform: none;
  color: #0069ed;
}

#nameGrid div {
  justify-self: center;
  align-self: center;
}

#joining {
  display: block;
  /* display: none; */
}

#playing {
  display: none;
  /* display: block; */
}

#waiting {
  display: block;
}

#singing {
  display: none;
}

@media only screen and (max-width: 600px) {
  #title{
    font-size: 15vw;
  }
}
/*
Round-based Classes
*/
#gameDiv{
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
}
#roundHeader{
  width: 100%;

  background-color: rgb(236, 236, 236);
  border-bottom: solid 5px rgb(156, 156, 156);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
#roundHeader h2{
  color: #0069ed;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 10vw;
  height: 15vh;
  font-weight: 500;
  font-family: 'broadway';
  margin-block-start: 0em;
  margin-block-end: 0em;
}
#roundWordSpace{
  width:100%;
  height: 75vh;
  margin-bottom: 5vh;
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}
#roundFooter{
  position: fixed;
  width: 100%;
  height: 5vh;
  bottom:0;
  border-top: solid 5px rgb(156, 156, 156);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(240, 240, 240);
}
#mysteryLyric{
  color: rgb(90, 0, 149);
}

/*
Client CSS dump, may need to be readjusted later...
*/

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  width: 50%;
  float:none;
  /* reset the text-align */
  text-align:center;
  /* inline-block space fix */
  font-family: 'sans-serif', 'Helvetica';
  font-weight: 600;
  font-size: 30px;
  color: #0069ed;
  text-align: center !important;
  background-color: #e6e6e6;
}

.col-border-top {
  border-style: solid;
  border-color: #0069ed;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0 0 10px 5px #0069ed;
  }

.col-border-bottom {
  border-style: solid;
  border-color: #0069ed;
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-shadow: 0 0 10px 5px #0069ed;
  }

.fill {
  min-height: 100%;
  height: auto !important;
  height: 100%; 
}

#scorespan {
  display: none;
}

.foot-left{
  text-align: left;
}

.foot-right{
float: right;
}

.pic {
  height: 75%;
  width: 75%;
  opacity: 1.0;
  margin-top:10%;
}

#aura{
  width: 40vh;
  height: 40vh;
  margin-left:auto;
  margin-right:auto;
  border-radius: 100%;
  background: transparent;
  animation-name: pulse;
  animation-play-state: running;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 0 0 4px 8px rgba(137, 137, 137, 0.5);
}

.pic_border {
  margin-top: 225px; 
  background-color: #c4c4c4;
}

.speech {
border: 1px solid #DDD; 
width: 300px; 
padding: 0; 
margin: 0;
}

.speech input {
border: 0; 
width: 240px; 
display: inline-block; 
height: 30px;
}
.speech img {
float: right; 
width: 40px;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes pulse{
0%{
  background: radial-gradient(var(--key-color) 5%, transparent);
}
10%{
  background: radial-gradient(var(--key-color) 10%, transparent);
}
20%{
  background: radial-gradient(var(--key-color) 20%, transparent);
}
30%{
  background: radial-gradient(var(--key-color) 25%, transparent);
}
40%{
  background: radial-gradient(var(--key-color) 30%, transparent);
}
50%{
  background: radial-gradient(var(--key-color) 35%, transparent);
}
60%{
  background: radial-gradient(var(--key-color) 40%, transparent);
}
70%{
  background: radial-gradient(var(--key-color) 45%, transparent);
}
80%{
  background: radial-gradient(var(--key-color) 50%, transparent);
}
90%{
  background: radial-gradient(var(--key-color) 55%, transparent);
}
100%{
  background: radial-gradient(var(--key-color) 60%, transparent);
}
}

@keyframes dots {
0%, 20% {
  color: #0069ed;
  text-shadow:
    .25em 0 0 #0069ed,
    .5em 0 0 #0069ed;}
40% {
  color: white;
  text-shadow:
    .25em 0 0 #0069ed,
    .5em 0 0 #0069ed;}
60% {
  text-shadow:
    .25em 0 0 white,
    .5em 0 0 #0069ed;}
80%, 100% {
  text-shadow:
    .25em 0 0 white,
    .5em 0 0 white;}
}


/*
Game text scrolling, for pieces that are automatically added.
*/
#lyrics{
  color:#0069ed;
  display: inline-block;
}
.lyric{
  --elapsed-color: #ff7b00;
  --normal-color: #7a3b00;
  --underlined-color:#0060d6;
  text-shadow: 1px 1px 3px rgba(39, 39, 39, 0.1);
  color: rgba(255, 255, 255, 0.01);
  font-size: 72px;
  -webkit-background-clip:text;
  animation-name: slideOverLyrics;
  background-image: linear-gradient(to right, var(--elapsed-color) 0%, var(--elapsed-color) 0%, var(--normal-color) 0%, var(--normal-color) 100%);
  animation-duration: .25s;
  /* animation-delay: 1s; */
  animation-fill-mode: forwards;
}

@keyframes slideOverLyrics{
  0%{
    background-image: linear-gradient(to right, var(--elapsed-color) 0%, var(--elapsed-color) 0%, var(--normal-color) 0%, var(--normal-color) 100%);
  }
  10%{
    background-image: linear-gradient(to right, var(--elapsed-color) 0%, var(--elapsed-color) 10%, var(--normal-color) 10%, var(--normal-color) 100%);
  }
  20%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 20%, var(--normal-color) 20%, var(--normal-color) 100%);
  }
  30%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 30%, var(--normal-color) 30%, var(--normal-color) 100%);
  }
  40%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 40%, var(--normal-color) 40%, var(--normal-color) 100%);
  }
  50%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 50%, var(--normal-color) 50%, var(--normal-color) 100%);
  }
  60%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 60%, var(--normal-color) 60%, var(--normal-color) 100%);
  }
  70%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 70%, var(--normal-color) 70%, var(--normal-color) 100%);
  }
  80%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 80%, var(--normal-color) 80%, var(--normal-color) 100%);
  }
  90%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 90%, var(--normal-color) 90%, var(--normal-color) 100%);
  }
  100%{
    background-image: linear-gradient(to right,var(--elapsed-color) 0%, var(--elapsed-color) 100%, var(--normal-color) 100%, var(--normal-color) 100%);
  }
}

